body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #e4d9ff, #fbeaff);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  background-color: #fffafc;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: left;
  line-height: 1.8;
  color: #444;
}

.titulo {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  text-align: center;
  color: #b460d0;
  margin-bottom: 30px;
}

.mensaje {
  font-size: 1.1em;
  white-space: pre-line;
}

.firma {
  display: block;
  margin-top: 40px;
  font-family: 'Great Vibes', cursive;
  font-size: 1.6em;
  color: #b460d0;
  text-align: right;
}
